body{
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    margin: 2%;
    padding: 0;

}

h1{
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;

}

.logo{
    height: 100%;
    flex-grow: 1;
}

.logo img{
    height: 100%;
}

.title_box{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.name{
    flex-grow: 20;
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
}

.subtitle{
margin: 0;
font-size: 1.5rem;
flex: 1;
}

.subtitle p{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

.main{
    display: flex;
    flex-direction: row;
    height: 85vh;
    margin-block: 2%;
}

.story_box{
    display: flex;
    flex-direction: column;
    padding-block: 11%;
    padding-inline: 7%;
}
.story_box p{
    font-size: 1.4rem;
   

}




